/* screen - certificacion */

.certificacion {
  align-items: center;
  background-color: var(--black-4);
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0px 0px 32px;
  position: relative;
  width: 1366px;
}

.certificacion .certificacin::-webkit-scrollbar {
  display: none;
  width: 0;
}

.certificacion .certificacin {
  align-items: center;
  background-color: var(--neutrallight00);
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: scroll;
  padding: 0px 0px 32px;
  width: 1366px;
}

.certificacion .frame-1000003018 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.certificacion .modal-top-1 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  height: 302px;
  position: relative;
  width: 100%;
}

.certificacion .group-872 {
  height: 186px;
  position: relative;
  width: 1366px;
}

.certificacion .modal-top {
  align-items: flex-start;
  background-color: var(--neutrallight00);
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  left: 0;
  padding: 24px 32px;
  position: absolute;
  top: 0;
  width: 1366px;
}

.certificacion .button {
  background-color: var(--neutrallight20);
  border-radius: 18.86px;
  gap: 13.47px;
  height: 38px;
  justify-content: center;
  left: 1296px;
  padding: 6.73px;
  position: absolute;
  top: 18px;
  width: 38px;
}

.certificacion .close {
  cursor: pointer;
  height: 20.57px;
  position: relative;
  width: 20.57px;
}

.certificacion .frame-1000003020 {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 32px;
  left: 0;
  padding: 16px 32px 24px;
  position: absolute;
  top: 68px;
  width: 1366px;
}

.certificacion .instituto-boliviano {
  color: var(--eerie-black);
  flex: 1;
  font-weight: 600;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.certificacion .address-1 {
  color: var(--eerie-black);
  font-weight: 400;
  line-height: normal;
  position: relative;
  text-align: right;
  width: fit-content;
}

.certificacion .name {
  color: var(--eerie-black-3);
  font-weight: 600;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.certificacion .address-2 {
  color: var(--primaryblack);
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.certificacion .estado {
  align-items: center;
  background-color: #234c9721;
  border: 1px solid;
  border-color: #234c97;
  border-radius: 5px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 6px;
  padding: 12px;
  position: relative;
}

.certificacion .acreditado {
  color: var(--primaryblack);
  font-weight: 400;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.certificacion .frame {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.certificacion .tabs {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-grow: 1;
  position: relative;
}

.certificacion .account {
  color: var(--comet);
}

.certificacion .account-1 {
  color: var(--eerie-black);
}

.certificacion .table-heading {
  align-items: center;
  background-color: var(--neutrallight00);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--porcelain);
  border-top-style: solid;
  border-top-width: 1px;
  display: flex;
  height: 64px;
  padding: 8px 0px;
  position: relative;
  width: 1302px;
}

.certificacion .table-heading-1 {
  border-color: var(--athens-gray);
  border-right-style: solid;
  border-right-width: 1px;
  width: 214px;
}

.certificacion .header-label {
  align-items: center;
  border-radius: 8px;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 8px;
  height: 32px;
  padding: 1px 0px;
  position: relative;
}

.certificacion .label-heading {
  color: var(--mako);
  flex: 1;
  font-weight: 600;
  line-height: 20px;
  position: relative;
}

.certificacion .table-heading-2 {
  border-color: var(--athens-gray);
  border-right-style: solid;
  border-right-width: 1px;
  width: 230px;
}

.certificacion .header-label-2 {
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  justify-content: center;
}

.certificacion .label-heading-1 {
  color: var(--mako);
  font-weight: 600;
  line-height: 20px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.certificacion .table-heading-3 {
  border-color: var(--athens-gray);
  border-right-style: solid;
  border-right-width: 1px;
  width: 221px;
}

.certificacion .table-heading-4 {
  border-color: var(--athens-gray);
  border-right-style: solid;
  border-right-width: 1px;
  width: 213px;
}

.certificacion .table-heading-5 {
  border-color: var(--athens-gray);
  border-right-style: solid;
  border-right-width: 1px;
  width: 138px;
}

.certificacion .header-label-1 {
  display: flex;
  flex: 1;
  flex-grow: 1;
  justify-content: space-between;
}

.certificacion .table-heading-6 {
  border: 0px none;
  width: 139px;
}

.certificacion .table-heading-7 {
  border: 0px none;
  margin-right: -65.00px;
  width: 212px;
}

.certificacion .content {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 32px;
  position: relative;
  width: 100%;
}

.certificacion .frame-1000003876-1 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  position: relative;
  width: 1302px;
}

.certificacion .frame-1000003877 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 4px;
  position: relative;
  width: 1302px;
}

.certificacion .ads-rules-list-1 {
  width: 214px;
}

.certificacion .button-1 {
  background-color: var(--neutrallight00);
  border: 1.5px solid;
  border-color: var(--geyser);
  border-radius: 8px;
  box-shadow: 4px 4px 4px #02536305;
  gap: 8px;
  height: 36px;
  padding: 8px;
  position: relative;
  width: 36px;
}

.certificacion .dots {
  align-items: center;
  display: flex;
  gap: 2.5px;
  height: 20px;
  justify-content: center;
  margin-right: -28.00px;
  opacity: 0;
  position: relative;
  width: 20px;
}

.certificacion .ads-rules-list-2 {
  cursor: pointer;
  width: 230px;
}

.certificacion .ads-rules-list-3 {
  cursor: pointer;
  width: 221px;
}

.certificacion .ads-rules-list-4 {
  cursor: pointer;
  width: 213px;
}

.certificacion .ads-rules-list-5 {
  cursor: pointer;
  width: 138px;
}

.certificacion .ads-rules-list-6 {
  cursor: pointer;
  width: 139px;
}

.certificacion .ads-rules-list-7 {
  cursor: pointer;
  width: 147px;
}

.certificacion .ads-rules-list {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--neutrallight00);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--athens-gray);
  display: flex;
  height: 122px;
  position: relative;
  width: 100%;
}

.certificacion .frame-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 8px;
  position: relative;
  width: 214px;
}

.certificacion .certificacin-de-producto {
  align-self: stretch;
  color: var(--mako);
  font-weight: 400;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
}

.certificacion .landing-page-2 {
  align-items: flex-start;
  align-self: stretch;
  width: 230px;
}

.certificacion .cemento-portland-y-cemento {
  color: var(--mirage);
  font-weight: 400;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.certificacion .landing-page-3 {
  align-items: flex-start;
  align-self: stretch;
  width: 219px;
}

.certificacion .reglamento-tcnico-d {
  color: var(--mirage);
  font-weight: 400;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.certificacion .landing-page-4 {
  align-items: flex-start;
  align-self: stretch;
  width: 215px;
}

.certificacion .address {
  color: var(--mirage);
  flex: 1;
  font-weight: 400;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
}

.certificacion .landing-page-5 {
  align-items: flex-start;
  align-self: stretch;
  width: 138px;
}

.certificacion .text {
  margin-right: -22.00px;
  width: 144px;
}

.certificacion .landing-page {
  align-items: center;
  display: flex;
  gap: 4px;
  padding: 8px;
  position: relative;
  width: 139px;
}

.certificacion .text-1 {
  margin-right: -13.00px;
  width: 136px;
}

.certificacion .landing-page-1 {
  align-items: center;
  width: 147px;
}

.certificacion .text-2 {
  margin-right: -5.00px;
  width: 136px;
}

.certificacion .frame-2-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  padding: 8px;
  position: relative;
  width: 214px;
}

.certificacion .landing-page-6 {
  align-items: center;
  width: 230px;
}

.certificacion .landing-page-7 {
  align-items: center;
  width: 221px;
}

.certificacion .landing-page-8 {
  align-items: center;
  width: 213px;
}

.certificacion .landing-page-9 {
  align-items: center;
  width: 138px;
}

.certificacion .frame-1000004238 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  padding: 16px 0px 0px;
  position: relative;
  width: 1292px;
}

.certificacion .frame-1000004061 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 1px;
  height: 48px;
  position: relative;
}

.certificacion .button-pagination {
  background-color: var(--neutrallight00);
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-color: var(--neutrallight20);
  border-left-style: solid;
  border-left-width: 2px;
  border-radius: 8px 0px 0px 8px;
  border-top-style: solid;
  border-top-width: 2px;
  box-shadow: 4px 4px 4px #02536305;
  gap: 8px;
  height: 32px;
  justify-content: center;
  padding: 8px;
  position: relative;
  width: 32px;
}

.certificacion .button-pagination-1 {
  align-items: center;
  background-color: var(--neutrallight00);
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-color: var(--neutrallight20);
  border-left-style: solid;
  border-left-width: 2px;
  border-top-style: solid;
  border-top-width: 2px;
  box-shadow: 4px 4px 4px #02536305;
  display: flex;
  gap: 8px;
  height: 32px;
  justify-content: center;
  padding: 8px;
  position: relative;
  width: 32px;
}

.certificacion .button-pagination-variant4 {
  height: 24px;
  margin-bottom: -4.00px;
  margin-left: -4.00px;
  margin-right: -4.00px;
  margin-top: -4.00px;
  position: relative;
  width: 24px;
}

.certificacion .button-pagination-2 {
  align-items: center;
  background-color: var(--blue);
  box-shadow: 4px 4px 4px #02536305;
  display: flex;
  gap: 8px;
  height: 32px;
  justify-content: center;
  padding: 8px;
  position: relative;
  width: 32px;
}

.certificacion .number {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: -0.50px;
  margin-left: -4.00px;
  margin-right: -4.00px;
  margin-top: -4.50px;
  position: relative;
  text-align: center;
  width: 24px;
}

.certificacion .button-pagination-3 {
  align-items: center;
  background-color: var(--neutrallight00);
  border: 2px solid;
  border-color: var(--wild-sand);
  box-shadow: 4px 4px 4px #02536305;
  display: flex;
  gap: 8px;
  height: 32px;
  justify-content: center;
  padding: 8px;
  position: relative;
  width: 32px;
}

.certificacion .chevron_right {
  height: 24px;
  margin-bottom: -4.00px;
  margin-left: -4.00px;
  margin-right: -4.00px;
  margin-top: -4.00px;
  position: relative;
  width: 24px;
}

.certificacion .button-pagination-4 {
  align-items: center;
  background-color: var(--neutrallight00);
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-color: var(--wild-sand);
  border-radius: 0px 8px 8px 0px;
  border-right-style: solid;
  border-right-width: 2px;
  border-top-style: solid;
  border-top-width: 2px;
  box-shadow: 4px 4px 4px #02536305;
  display: flex;
  gap: 8px;
  height: 32px;
  justify-content: center;
  padding: 8px;
  position: relative;
  width: 32px;
}

.certificacion .address-3 {
  color: var(--eerie-black);
  font-weight: 500;
  line-height: 20px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.certificacion .ads-rules-list-8 {
  align-items: center;
  background-color: var(--neutrallight00);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--athens-gray);
  border-right-style: solid;
  border-right-width: 1px;
  display: flex;
  justify-content: center;
  padding: 4px 8px;
  position: relative;
}

.certificacion .arrow_downward_alt-7 {
  height: 20px;
  position: relative;
  width: 20px;
}

.certificacion .button-2 {
  align-items: center;
  display: flex;
}

.certificacion .header-label-3 {
  align-items: center;
  border-radius: 8px;
  height: 32px;
  padding: 1px 0px;
  position: relative;
}

.certificacion .landing-page-10 {
  display: flex;
  gap: 4px;
  padding: 8px;
  position: relative;
}

.certificacion .table-heading-8 {
  align-items: center;
  display: flex;
  padding: 8px;
  position: relative;
}

.certificacion .text-3 {
  color: var(--mirage);
  font-weight: 400;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
}
