/* screen - login-2 */

.login-2 {
  align-items: flex-start;
  background-color: var(--neutra-light-10);
  display: flex;
  width: 1440px;
}

.login-2 .login {
  align-items: center;
  background-color: var(--white-lilac);
  display: flex;
  flex-direction: column;
  height: 1024px;
  padding: 32px;
  width: 970px;
}

.login-2 .component-10 {
  align-items: center;
  align-self: flex-start;
  border-radius: 5px;
  display: inline-flex;
  gap: 10px;
  height: 32px;
  justify-content: center;
  padding: 15px 24px;
  position: relative;
}

.login-2 .login-1 {
  align-items: flex-start;
  background-color: var(--neutrallight00);
  border: 1px solid;
  border-color: var(--mercury-2);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 183px;
  padding: 40px;
  position: relative;
  width: 420px;
}

.login-2 .frame {
  height: 36px;
  position: relative;
  width: 192.22px;
}

.login-2 .frame-885 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 32px;
  position: relative;
  width: 100%;
}

.login-2 .frame-882 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.login-2 .title {
  color: var(--eerie-black-2);
  font-weight: 600;
  line-height: 40px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.login-2 .inicia-sesin-para-acceder-a-tu-cuenta {
  color: var(--neutral-dark80);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl);
  font-weight: 300;
  letter-spacing: 0;
  line-height: 25.2px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.login-2 .frame-8 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: 100%;
}

.login-2 .input {
  align-items: flex-start;
  align-self: stretch;
  border-radius: 8px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.login-2 .label {
  color: var(--primaryblack);
  font-weight: 600;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.login-2 .frame-1098 {
  align-items: center;
  align-self: stretch;
  background-color: var(--neutrallight00);
  border: 1px solid;
  border-color: var(--heather);
  border-radius: 8px;
  display: flex;
  gap: 10px;
  height: 44px;
  padding: 16px 8px;
  position: relative;
  width: 100%;
}

.login-2 .placeholder {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 4px;
  margin-bottom: -4.00px;
  margin-top: -4.00px;
  position: relative;
}

.login-2 .your-text-here {
  color: var(--black-3);
  font-weight: 400;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.login-2 .input-form {
  align-items: flex-start;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 4px;
}

.login-2 .label-text {
  color: var(--neutral-dark80);
  font-weight: 600;
  line-height: 18px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.login-2 .input-1 {
  align-items: center;
  background-color: var(--neutrallight00);
  border: 1px solid;
  border-color: var(--neutrallight40);
  border-radius: 8px;
  height: 44px;
  padding: 12px;
}

.login-2 .frame-776 {
  align-items: center;
  display: flex;
  flex: 1;
  flex-grow: 1;
  justify-content: space-between;
  position: relative;
}

.login-2 .password {
  color: var(--neutral-dark10);
  font-weight: 400;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.login-2 .component-7 {
  height: 16px;
  position: relative;
  width: 16px;
}

.login-2 .frame-1000004179 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.login-2 .button {
  align-items: center;
  align-self: stretch;
  background-color: var(--amber);
  border-radius: 8px;
  box-shadow: 4px 4px 12px #02536314;
  display: flex;
  gap: 8px;
  height: 50px;
  justify-content: center;
  padding: 10px 32px;
  position: relative;
  width: 100%;
}

.login-2 .button-1 {
  color: var(--black-pearl);
  font-weight: 600;
  line-height: 20px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.login-2 .recuperar-contrasea {
  color: var(--catalina-blue);
  cursor: pointer;
  font-weight: 400;
  line-height: 17px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.login-2 .sign-up {
  align-items: flex-start;
  display: inline-flex;
  gap: 8px;
  margin-left: 1.0px;
  margin-top: 86px;
  position: relative;
}

.login-2 .no-tienes-una-cuent {
  color: var(--neutral-dark80);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l);
  font-weight: 300;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.login-2 .text-button {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  position: relative;
}

.login-2 .sign-up-1 {
  color: var(--catalina-blue);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.login-2 .input-2 {
  align-self: stretch;
  display: flex;
  position: relative;
  width: 100%;
}
