@attribute [Route(Routes.ACCEDER)]

<PageTitle>Acceder</PageTitle>
<Toasts class="p-3" Messages="messages" AutoHide="true" Delay="6000" Placement="ToastsPlacement.TopRight" />

<link rel="stylesheet" type="text/css" href="/css/autenticacion/acceder.css" />

<div class="panel-acceder">
    <div class="panel-acceder-content">
        <div class="panel-acceder-back" @onclick="GoToSearchPage" style="cursor:pointer;">
            <img src="/login/img/search-1.svg" alt="search-1" />
            <div>Buscador</div>
        </div>
        <div class="panel-acceder-content-form">
            <div class="card">
                <div class="card-body">
                    <img src="/images/logo1l.svg" alt="Frame" />
                    @if (opcion == 1) {
                        @if (authenticateResponseDto == null) {
                            <FormularioLogin
                                OnCreateToastMessage="CreateToastMessage"
                                OnStepChanged="HandleStepChange"
                                OnOptionChange="HandleOptionChange"
                            />
                        } else {
                            <FormularioValidacion 
                                OnCreateToastMessage="CreateToastMessage" 
                                IdUsuario="@authenticateResponseDto?.IdUsuario"
                                OnStepChanged="HandleStepChange"
                            />
                        }
                    } else {
                        <FormularioRecuperar
                            OnCreateToastMessage="CreateToastMessage"
                            OnOptionChange="HandleOptionChange"
                        />
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="panel-acceder-content-img">
        <img src="/images/login470px.png" alt="login470px" />
    </div>
</div>