@attribute [Route(Routes.NUEVO_ESQUEMA)]
@attribute [Route(Routes.EDITAR_ESQUEMA)]
@layout AdminLayout
@using Microsoft.AspNetCore.Authorization;
@using SharedApp.Dtos
@attribute [Authorize]

<PageTitle>Formulario de Esquema</PageTitle>

<EditForm EditContext="@editContext">

	<DataAnnotationsValidator />

	<div class="ds-title-section">
		<h2 class="ds-title-h2">Administración <span>Esquema Homologado</span></h2>
	</div>

	<div class="ds-content-section full row">

		<div class="col-md-12">
			<label class="label valign-text-middle inter-regular-normal-comet-16px">Mostrar web</label>
			<InputText @bind-Value="Esquema.MostrarWeb" class="form-control inter-regular-normal-comet-14px" placeholder="Mostrar web..." style="margin-top: 2% !important;" />
			<ValidationMessage For="(() => Esquema.MostrarWeb)" />
		</div>
		<div class="col-md-12">
			<label class="label valign-text-middle inter-regular-normal-comet-16px">Tooltip Web</label>
			<InputText @bind-Value="Esquema.TooltipWeb" class="form-control inter-regular-normal-comet-14px" placeholder="Tooltip Web..." style="margin-top: 2% !important;" />
			<ValidationMessage For="(() => Esquema.TooltipWeb)" />
		</div>
		<div class="col-md-12">
			<label class="label valign-text-middle inter-regular-normal-comet-16px">Esquema Vista</label>
			<InputText @bind-Value="Esquema.EsquemaVista" class="form-control inter-regular-normal-comet-14px" placeholder="Esquema vista..." style="margin-top: 2% !important;" />
			<ValidationMessage For="(() => Esquema.EsquemaVista)" />
		</div>
		<div class="col-md-12">
			<label class="label valign-text-middle inter-regular-normal-comet-16px">Buscar y agregar campo homologado</label>
			<AutoComplete @bind-Value="homologacionName"
						  TItem="HomologacionDto"
						  DataProvider="VwHomologacionDataProvider"
						  PropertyName="MostrarWeb"
						  Placeholder="Buscar..."
						  OnChanged="OnAutoCompleteChanged" Style="margin-top: 2% !important;" Class="label valign-text-middle inter-regular-normal-comet-16px" />
		</div>
	</div>
</EditForm>


<div class="table" style="margin-top: 1% !important; ">

	<div class="py-2 content">
		<Grid TItem="HomologacionDto" class="table table-hover table-bordered table-striped ads-rules-list" Data="lista" Responsive="true" FixedHeader="true" Height="350" Id="sortableGrid">
			<GridColumn TItem="HomologacionDto" Class="label-heading headingheadline5-h5" HeaderText="Vista Código Homologado" PropertyName="NombreHomologado">
				<div class="cell migration-id bodybody-small">
					@listaVwHomologacion?.FirstOrDefault(c => c.IdHomologacion == context.IdHomologacion)?.NombreHomologado
					<input type="hidden" value="@context.IdHomologacion" />
				</div>
			</GridColumn>
			<GridColumn TItem="HomologacionDto" Class="label-heading headingheadline5-h5" HeaderText="Texto a Mostrar en la Web" PropertyName="MostrarWeb">
				<div class="cell cell-1 esquema-vista bodybody-small">
					@listaVwHomologacion?.FirstOrDefault(c => c.IdHomologacion == context.IdHomologacion)?.MostrarWeb
				</div>
			</GridColumn>
			<GridColumn TItem="HomologacionDto" Class="label-heading headingheadline5-h5" HeaderText="Tooltip Web" PropertyName="TooltipWeb">
				<div class="cell cell-1 status bodybody-small">
					@listaVwHomologacion?.FirstOrDefault(c => c.IdHomologacion == context.IdHomologacion)?.TooltipWeb
				</div>
			</GridColumn>
			<GridColumn TItem="HomologacionDto" Class="label-heading headingheadline5-h5" HeaderText="Tipo de Dato" PropertyName="MascaraDato">
				<div class="cell cell-1 landing-page-3 file-name bodybody-small">
					@listaVwHomologacion?.FirstOrDefault(c => c.IdHomologacion == context.IdHomologacion)?.MascaraDato
				</div>
			</GridColumn>
			<GridColumn TItem="HomologacionDto" Class="label-heading headingheadline5-h5" HeaderText="Si No Hay Dato" PropertyName="SiNoHayDato">
				<div class="cell cell-1 landing-page-3 file-name bodybody-small">
					@listaVwHomologacion?.FirstOrDefault(c => c.IdHomologacion == context.IdHomologacion)?.SiNoHayDato
				</div>
			</GridColumn>
			<GridColumn TItem="HomologacionDto" Class="label-heading headingheadline5-h5" HeaderText="Eliminar">
				<div class="cell cell-1">
					<Button Color="ButtonColor.Danger" Outline="true" @onclick="() => EliminarElemento(context.IdHomologacion)" Size="ButtonSize.Small">
						<Icon Name="IconName.Trash3" />
					</Button>
				</div>
			</GridColumn>
		</Grid>
	</div>

</div>

<div class="ds-buttons-content">
	<a @onclick="Regresar">
		<div class="ds-btn-general ds-btn-red">
			<img class="icons" src="admin/img/icons.svg" alt="Icons">
			<div class="button-1 headingheadline4-h4">Regresar</div>
		</div>
	</a>
	<div class="save-button-container">
		<Button id="btnGuardar" @ref="saveButton" class="ds-btn-general ds-btn-blue" @onclick="async () => await GuardarEsquema()"><div class="button-3 headingheadline4-h4">Guardar</div></Button>
	</div>
</div>

