.panel-buscador-can {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.panel-buscador-can > * {
    font-family: Helvetica, 'Inter', sans-serif !important;
}

@media (orientation: landscape) {
    .panel-buscador-can {
        height: auto !important;
    }

    .panel-index-grilla {
        flex: none !important;
        height: auto !important;
        min-height: 300px !important;
    }

    .panel-input-paginations {
        position: relative !important;
        margin-top: 10px !important;
    }

    .panel-input-filters-line {
        width: 70% !important;
    }
}

@media (min-width: 700px) and (max-width: 1024px) and (orientation: landscape) {
    .panel-buscador-can {
        height: auto !important;
    }

    .panel-index-grilla {
        flex: none !important;
        height: auto !important;
        min-height: 300px !important;
    }

    .panel-input-paginations {
        position: relative !important;
        margin-top: 10px !important;
    }

    .panel-search {
        width: 50% !important;
    }
    .panel-summary-card {
        width: 50% !important;
    }

    .panel-input button {
        width: 20% !important;
    }

    .panel-input-text {
        width: 80% !important;
    }

    .panel-input-filters-line {
        width: 70% !important;
    }
}
