@inject IJSRuntime JS
<link href="/css/buscador-can/banner.css" rel="stylesheet">


<header>
    <img src="/images/logo-comunidad-andina.png" width="220" height="41" alt="Comunidad Andina" class="logo-header">
    <p class="title-header">Buscador Andino de Organismos Evaluadores de la Conformidad <br><span>Conecta YA</span></p>
    <NavLink class="btn-general btn-half-button b-yellow login-cuenta" href="@UrlBasesOptions.UrlBaseAdmin" target="_blank">
        <img src="/images/ico-user.svg" width="14" height="14" alt="Accede a tu cuenta">
        <span>Accede a tu cuenta</span>
    </NavLink>
</header>

