<div class="card shadow-lg position-relative">
    <!-- Ícono de cierre en la esquina superior derecha -->
    <button type="button" class="btn-close position-absolute top-0 end-0 m-3" data-bs-dismiss="modal" aria-label="Close"></button>

    <div class="card-body">
        <!-- Contenedor con Scroll Vertical -->
        <div class="table-responsive" style="max-height: 400px; overflow-y: auto; font-size: 10px !important;">
            <table class="table table-bordered table-striped table-hover w-100">
                <thead class="table-primary">
                    <tr>
                        <th class="text-center p-3">Información</th>
                        <th class="text-center p-3">Descripción general del personal</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td class="fw-bold p-3">Organismo Acreditador</td><td class="p-3">@onaSeleccionado?.ONASiglas</td></tr>
                    <tr><td class="fw-bold p-3">Nombre del Profesional</td><td class="p-3">@onaSeleccionado?.PetNombrePersonalTecnico</td></tr>
                    <tr><td class="fw-bold p-3">Calificación</td><td class="p-3">@onaSeleccionado?.PetCalificacion</td></tr>
                    <tr><td class="fw-bold p-3">País Residencia</td><td class="p-3">@onaSeleccionado?.PetPais</td></tr>
                    <tr><td class="fw-bold p-3">Ciudad de Residencia</td><td class="p-3">@onaSeleccionado?.PetCiudad</td></tr>
                    <!--  <tr><td class="fw-bold p-3">Página Web</td><td class="p-3"><a href="@onaSeleccionado?.OrgWeb" target="_blank">@onaSeleccionado?.OrgWeb</a></td></tr> -->
                    <!-- <tr><td class="fw-bold p-3">Correo electrónico</td><td class="p-3"><a href="mailto:@onaSeleccionado?.OrgCorreo">@onaSeleccionado?.OrgCorreo</a></td></tr> -->
                    <tr><td class="fw-bold p-3">Norma Acreditada</td><td class="p-3">@onaSeleccionado?.PetNormaAcreditada</td></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@if (loading)
{
    <p class="text-center text-muted mt-3 label valign-text-middle inter-regular-normal-comet-14px">Cargando información...</p>
}
else if (onaSeleccionado == null)
{
    <p class="text-center text-danger mt-3 label valign-text-middle inter-regular-normal-comet-14px">No se encontró información del ONA.</p>
}
