<div class="card" style="font-size: 12px !important;">
	<div class="card-body">
		@if (!string.IsNullOrEmpty(onaSeleccionado?.UrlIcono))
		{
			<div>
				<img src="@onaSeleccionado.UrlIcono" alt="Icono ONA" class="img-fluid" style="max-width: 150px; max-height: 150px;" />
			</div>
		}
		<div class="table-responsive" style="max-height: 400px; overflow-y: auto; font-size: 10px !important;">
			<h3>Informacion del contacto</h3>
			<table class="table table-bordered table-striped table-hover w-100">
				@*        <thead class="table-primary">
                        <tr>
                            <th class="text-center p-3">Información</th>
                            <th class="text-center p-3">Descripción general del OEC</th>
                        </tr>
                    </thead> *@
				<tbody>
					<tr><td class="fw-bold p-3">Nombre del Experto:</td><td class="p-3">@onaSeleccionado?.RazonSocial</td></tr>
					<tr><td class="fw-bold p-3">Correo:</td><td class="p-3">@onaSeleccionado?.Correo</td></tr>
					<tr><td class="fw-bold p-3">Telefono:</td><td class="p-3">@onaSeleccionado?.Telefono</td></tr>
				</tbody>
			</table>
		</div>
	</div>
	
</div>

@if (loading)
{
	<p class="label valign-text-middle inter-regular-normal-comet-14px">Cargando información...</p>
}
else if (onaSeleccionado == null)
{
	<p class="label valign-text-middle inter-regular-normal-comet-14px">No se encontró información del ONA.</p>
}
